<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %><%= current_user.avatar_url %>

    </span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

  <%= form_with(url: "/uploads/avatar", multipart: true) do %>
    <%= file_field_tag 'body' %>
    <%= submit_tag("Add") %>
  <% end %>

   <%= form_tag("/uploads/avatar", multipart: true) do %>
    <%= file_field_tag(:body) %>
    <%= submit_tag("Add") %>
  <% end %>
